name: Acceptance Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: "./"
        name: Shopify CLI help
        with:
          command: "help"
